/* General Styles */

:root {
    --orange: #FF8362;
    --orange-dark: #BB7365;
    --orange-darkest: #965C51;
    --orange-light: #DEADA1;
    --blue: #3C4663;
    --blue-light: #6D748C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: red solid 1px; */
}

.inverse {
    color: white !important;
}

.dark {
    border-bottom: solid 2px var(--orange-dark) !important;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
    border-bottom: solid 2px var(--blue);
    width: 80%;
    margin: 0 auto;
}

.title-container .title {
    font-family: 'Lora', serif;
    font-size: 48px;
    color: var(--orange);
}

.title-container .subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--blue);
}

.seperator {
    width: 100%;
    height: auto;
    margin-bottom: -2px;
}

.seperator-dark {
    width: 100%;
    height: auto;
    margin-bottom: -2px;
}

/* General Styles */


/* Header Section - Start */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.header .header-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header .header-logo {
    padding: 50px 0 50px 100px;
}

.header .header-headline {
    list-style-type: none;
    font-size: 64px;
    font-family: 'Lora';
    font-weight: 400;
    padding: 25px 0 25px 100px;
}

.header .header-headline li {
    margin: 15px 0 15px 0;
}

.header .header-desc {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6rem;
    padding: 25px 0 25px 100px;
    color: var(--blue-light);
}

.header .header-button {
    margin-top: 30px;
    display: flex;
    padding-left: 100px;
}

.header .header-button a {
    text-decoration: none;
    background-color: var(--orange);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 25px 35px 25px 35px;
    border-radius: 10px;
}

.header .header-button a:hover {
    background-color: var(--orange-dark);
}

.header .header-image {
    content: url('../img/header.png');

}

/* Header Section - End */

/* Countdown Section - Start */
.countdown {
    display: flex;
    flex-direction: column;
    padding: 100px 0 100px 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.countdown .timer-wrap {
    width: 60%;
    padding: 100px 0 100px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.countdown .timer-wrap .time {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.countdown .timer-wrap .time .title {
    font-size: 96px;
    font-family: 'Lora', serif;
    font-weight: 700;
    color: var(--blue);
}

.countdown .timer-wrap .time .text {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--blue-light);
    padding-top: 15px;
    margin: 0 auto;
}

/* Countdown Section - End */

/* Speakers Section - Start */

.speakers {
    background-color: var(--orange);
    margin-top: -5px;
}

.speakers .speakers-wrap {
    width: 80%;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
    display: grid;
    grid-gap: 70px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.speakers .speakers-wrap .speaker {
    padding-bottom: 20px;
}

.speakers .speakers-wrap .speaker .image {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.speakers .speakers-wrap .speaker .image img {
    width: 100%;
    height: auto;
}

.speakers .speakers-wrap .speaker .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 700;
    padding-top: 15px;
    color: white;
}

.speakers .speakers-wrap .speaker .social {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    padding-top: 5px;
}


/* Speakers Section - End */


/* Newsletter Section - Start */
.newsletter {
    background-color: var(--orange-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.newsletter .sub-text {
    font-family: 'Lora', serif;
    font-size: 48px;
    color: #fff;
    padding-bottom: 15px;
}

.newsletter .sub-form {
    width: 70%;
    display: flex;
    padding: 30px;
}

.newsletter .sub-form .sub-input {
    flex: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: var(--orange-darkest);
    border: none;
    height: 70px;
    color: white;
    padding: 25px;
}

.newsletter .sub-form .sub-button {
    background-color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 25px 35px 25px 35px;
    color: var(--orange-darkest);
}

/* Newsletter Section - End */

/* Speak Section - Start */
.speak {
    margin-top: 150px;
}

.speak .speak-wrap {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    padding-top: 100px;
    width: 80%;
}

.speak .speak-wrap .list-item {
    flex: 0 0 50%;
    display: flex;
    margin-bottom: 100px;
}

.speak .speak-wrap .list-item .list-info {
    display: flex;
    flex-direction: column;
    padding: 0px 50px 10px 25px;
}

.speak .speak-wrap .list-item .list-info .list-title {
    font-family: 'Lora', serif;
    font-size: 28px;
    color: var(--blue);
    padding-bottom: 10px;
}

.speak .speak-wrap .list-item .list-info .list-desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: justify;
    line-height: 1.6;
    color: var(--blue);
    padding-bottom: 10px;
}

/* Speak Section - End */

/* Map - Start */

.map img {
    width: 100%;
}

/* Map - End */

/* Speak Form - Start */

.speak-form {
    background-color: var(--orange-dark);
    width: 100%;
    align-content: center;
    justify-content: center;
    margin-top: -5px;
}

.speak-form .speak-title {
    font-family: 'Lora', serif;
    font-size: 36px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 50px;
}

/* Speak Form - End */

/* Events Section - Start */

.events {
    margin-top: 100px;
}

.events-wrap {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}

.gallery {
    display: flex;
}

.past-events {
    display: flex;
    width: 40%;
    flex-direction: column;
}

.past-events .past-title {
    font-family: 'Lora', serif;
    font-size: 28px;
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
}

.date-wrap {
    margin-top: 30px;
}

.date-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.date-item .date-title {
    font-family: 'Montserrat', serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--blue);
}

.date-item .date-link a {
    font-family: 'Montserrat', serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: var(--blue);
}

.date-item .date-link a:hover {
    color: var(--blue-light);
}

/* Events Section - End */

/* Sponsors Section - Start */

.sponsors {
    padding-top: 80px;
}

.logo-wrap {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
}

.logo-item {
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
}

.logo-wrap img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    transition: all 1s ease;
}

.logo-wrap img:hover {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/* Sponsors Section - End */

/* Footer Section - Start */
.footer {
    height: 600px;
    background-image: url('../img/skyline.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-wrap {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 15em;
}

.footer-wrap .footer-title {
    font-family: 'Lora', serif;
    font-size: 48px;
    letter-spacing: 1px;
    padding: 40px;
    color: #fff;
}

.footer-wrap .footer-subtitle {
    font-family: 'Montserrat', serif;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    padding: 5px;
}

.footer-wrap .footer-button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.footer-wrap .footer-button a {
    text-decoration: none;
    background-color: #fff;
    color: var(--orange-dark);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 25px 35px 25px 35px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.footer-wrap .footer-button a:hover {
    background-color: var(--orange-dark);
    border: 2px solid #fff;
    color: #fff;
}

/* Footer Section - End */





/* 
*
*
*
*
*
*
*
Responsive Code
*/


/* XL ( 1200 ) and smaller screen Size - Start */
@media (max-width: 1200px) {

    .header .header-logo {
        padding: 50px 0 50px 50px;
    }

    .header .header-image {
        content: url('../img/header-small.png');
    }

    .header .header-headline {
        font-size: 48px;
        padding: 15px 0 15px 50px;
    }

    .header .header-desc {
        font-size: 14px;
        padding: 25px 0 25px 50px;
    }

    .header .header-button {
        margin-top: 30px;
        padding-left: 50px;
    }

    .header .header-button a {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 20px 30px 20px 30px;
        border-radius: 10px;
    }

    .countdown .timer-wrap {
        padding: 70px 0 70px 0;
        width: 70%;
    }

    .newsletter {
        padding: 60px;
    }

    .newsletter .sub-text {
        font-size: 40px;
    }

    .newsletter .sub-form {
        width: 80%;
    }

    .speak .speak-wrap .list-item .list-info .list-title {
        font-size: 24px;
    }

    .speak .speak-wrap .list-item .list-info .list-desc {
        font-size: 14px;
    }

    .past-events {
        width: 30%;
    }

    .logo-wrap .logo-item img {
        width: 170px;
    }
}

/* Extra Large ( 1200 ) and smaller screen Size - End */

/* Large ( 992 ) and smaller screen Size - Start */

@media (max-width: 992px) {


    .title-container .title {
        font-size: 32px;
    }

    .title-container .subtitle {
        font-size: 12px;
    }

    .header {
        height: 100vh;
    }

    .header .header-image {
        content: '';
    }

    .header .header-text {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }

    .header .header-logo {
        padding: 20px 0 20px 0px;
    }

    .header .header-headline {
        font-size: 64px;
        padding: 15px 0 15px 0;
    }

    .header .header-desc {
        padding: 15px 0 15px 0;
    }

    .header .header-button {
        margin-top: 10px;
        padding: 0;
    }

    .countdown .timer-wrap .time .title {
        font-size: 72px;
    }

    .countdown .timer-wrap .time .text {
        font-size: 12px;
    }

    .newsletter .sub-form {
        width: 90%;
    }

    .speak .speak-wrap .list-item {
        flex: 100%;
    }

    .events-wrap {
        flex-direction: column;
    }

    .gallery {
        margin: auto;
    }

    .past-events {
        width: 100%;
        margin: auto;
        margin-top: 60px;
    }

    .footer-wrap .footer-title {
        font-size: 36px;
        padding: 20px;
    }

    .footer-wrap .footer-subtitle {
        font-size: 18px;
    }

    .footer-wrap .footer-button {
        margin-top: 30px;
    }

    .footer-wrap .footer-button a {
        font-size: 14px;
    }

}

/* Large ( 992 ) and smaller screen Size - End */

/* Medium ( 768 ) and smaller screen Size - Start */

@media (max-width: 992px) {

    .title-container .title {
        font-size: 24px;
    }

    .title-container .subtitle {
        font-size: 10px;
    }

    .countdown .timer-wrap {
        width: 80%;
    }

    .newsletter .sub-text {
        font-size: 32px;
    }

    .newsletter .sub-form {
        width: 100%;
    }

    .newsletter .sub-form .sub-input {
        height: 50px;
        padding: 25px;
    }

    .newsletter .sub-form .sub-button {
        padding: 5px 25px 5px 25px;
    }

    .speak .speak-wrap .list-item .list-info {
        padding: 0px 0px 10px 25px;
    }

    .speak-form .speak-title {
        font-size: 26px;
    }

    .gallery .gallery-item img {
        width: 100%;
    }

    .footer-wrap .footer-title {
        font-size: 28px;
        padding: 20px;
    }

    .footer-wrap .footer-subtitle {
        font-size: 14px;
    }

    .footer-wrap .footer-button {
        margin-top: 30px;
    }

    .footer-wrap .footer-button a {
        font-size: 14px;
    }


}

/* Medium ( 768 ) and smaller screen Size - End */

/* Small ( 576 ) and smaller screen Size - Start */
@media (max-width: 576px) {

    .title-container {
        flex-direction: column;
        border-bottom: solid 1px var(--blue);
    }

    .title-container .title {
        padding-bottom: 15px;
        font-size: 32px;
    }

    .header .header-headline {
        font-size: 42px;
    }

    .countdown .timer-wrap {
        flex-direction: column;
        margin: auto;
        text-align: center;
    }

    .newsletter {
        padding: 30px;
    }

    .newsletter .sub-text {
        text-align: center;
        font-size: 24px;
    }

    .newsletter .sub-form {
        width: 100%;
        padding: 5px;
        flex-direction: column;
        align-items: stretch;
    }

    .newsletter .sub-form .sub-input {
        flex: 100%;
        margin: 10px 0;
        padding: 5px;
    }

    .newsletter .sub-form .sub-button {
        padding: 15px 25px 15px 25px;
    }

    .speak {
        margin-top: 50px;
    }

    .speak .speak-wrap {
        padding-top: 50px;
    }

    .speak .speak-wrap .list-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }

    .speak .speak-wrap .list-item .list-icon {
        margin: 0 auto;
        padding-bottom: 10px;
    }

    .speak .speak-wrap .list-item .list-info {
        padding: 0px;
    }

    .speak .speak-wrap .list-item .list-info .list-title {
        text-align: center;
        font-size: 28px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .date-item .date-title {
        font-size: 16px;
    }

    .date-item .date-link a {
        font-size: 12px;
    }

    .logo-wrap {
        padding-top: 20px;
        flex-direction: column;
    }

    .logo-item {
        padding-bottom: 70px;
    }

    .logo-wrap .logo-item img {
        width: 100%;
    }

    .footer-wrap .footer-title {
        padding: 0;
        font-size: 32px;
    }

    .footer-wrap .footer-subtitle {
        font-size: 12px;
        padding-top: 15px;
    }

}

/* Small ( 576 ) and smaller screen Size - End */