<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="author" content="{{ site.author }}">
  <meta name="robots" content="index, follow">
  {% if page.title %}
  <title>{{ page.title }} - Ignite Chicago</title>
  {% else if site.event.title %}
  <title>{{ site.event.title }} - Ignite Chicago</title>
  {% else %}
  <title>{{ site.event.title }} - Ignite Chicago</title>
  {% endif %}

  <link rel="canonical" href="{{ site.url }}">
  {% include meta.html %}
  {% include styles.html %}
  <script id="mcjs">
    ! function (c, h, i, m, p) {
      m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p)
    }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/1b6bed3f7022302e88e2c266b/65e0ae0769a13a8f89c6747f2.js");
  </script>
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="100">
  <nav class="navbar navbar-default navbar-fixed-top reveal-menu js-reveal-menu reveal-menu-hidden">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}"><img src="{{ "assets/img/event-logo-nav.png" | prepend: site.baseurl }}" alt="Ignite Chicago"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href=" {{ "#top" | prepend: site.baseurl }}">Home</a></li>
          {% if site.data[page.month].speakers %}
          <li><a href="{{ "#speakers" | prepend: site.baseurl }}">Speakers</a></li>
          <li><a href="{{ "#speak" | prepend: site.baseurl }}">Speak</a></li>
          <li><a href="{{ "#gallery" | prepend: site.baseurl }}">Gallery</a></li>
          {% else %}
          <li><a href="{{ "#speak" | prepend: site.baseurl }}">Speak</a></li>
          <li><a href="{{ "#gallery" | prepend: site.baseurl }}">Gallery</a></li>
          {% endif %} {% if site.data[page.month].sponsors %}
          <li><a href="{{ "#sponsors" | prepend: site.baseurl }}">Sponsors</a></li>
          {% endif %}
          <li><a href="{{ "#venue" | prepend: site.baseurl }}">Venue</a></li>
          <li><a href="{{ "#contact" | prepend: site.baseurl }}">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  {{ content }}

  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha256-P93G0oq6PBPWTP1IR8Mz/0jHHUpaWL0aBJTKauisG7Q=" crossorigin="anonymous"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDew3LTPBM8-ZexDHV-JqQNcmXfGROz9-g&amp;callback=initMap" async defer></script>
  <script src="{{ "assets/js/main.js" | prepend: site.baseurl }}"></script>
</body>
</html>
