<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="Ignite is a high-energy evening of 5-minute talks by people who have a burning idea—and the guts to get onstage and share it with their hometown crowd.">
  <meta name="keywords" content="ignite,chicago,talk,talks,ignite talks, ignite chicago, ignitchi">
  <meta name="author" content="Ignite Chicago">
  <meta name="robots" content="index, follow">
  <title>{{ page.title }} - Ignite Chicago</title>

  {% include meta.html %}
  {% include styles.html %}
  <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/1b6bed3f7022302e88e2c266b/65e0ae0769a13a8f89c6747f2.js");</script>
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="100">

{{ content }}

  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha256-P93G0oq6PBPWTP1IR8Mz/0jHHUpaWL0aBJTKauisG7Q=" crossorigin="anonymous"></script>
</body>
</html>
