---
layout: default
---
{%- assign event = site.data[site.event.month] -%}
<header id="top" class="header">
  {%- if site.event.alert -%}
  <div class="alert alert-danger" role="alert">
    <strong>{{ site.event.alert }}</strong>
  </div>
  {%- endif -%}
  <div class="container">
    <div class="header_top-bg">
      <div class="logo">
        <a href="{{ site.baseurl }}"><img src="{{ "assets/img/event-logo.png" | prepend: site.baseurl }}" alt="event-logo" class="img-responsive"></a>
      </div>
    </div>
    <h1 class="headline">5 minutes. 20 slides. 1 passion.</h1>
    <div class="when_where">
      <p class="event_when">{{ event.main.start-date | date: "%a, %B %d" }} <small>from</small> {{ event.main.start-date | date: "%l:%M %P" }} to {{ event.main.end-date | date: "%l:%M %P" }}</p>
      <a href="https://www.google.com/maps/place/{{ event.main.location-name }}, {{ event.main.location-address }}/" class="event_where">{{ event.main.location-name }}, {{ event.main.location-address }}</a>
    </div>
    <div class="header_bottom-bg">
      {%- capture nowunix -%}
      {{ 'now' | date: '%s' }}
      {%- endcapture -%}
      {%- capture eventtime -%}
      {{ event.main.start-date | date: '%s' }}
      {%- endcapture -%}
      {%- if event.main.soldout or eventtime < nowunix -%}
      <span class="btn btn-default btn-xl">SOLD OUT</span>
      {%- else -%}
        <a class="btn btn-default btn-xl" href="#" data-toggle="modal" data-target="#eventbrite-register">Reserve my seat</a>
        <p class="cta_urgency">Tickets sell out fast.</p>
      {%- endif -%}
    </div>
  </div>
</header>

<section id="about" class="highlight">
  <div class="container lead text-center">
    <p>Ignite is a high-energy evening of 5-minute talks by people who have a burning idea—and the guts to get onstage and share it with their hometown crowd.</p>
    <p>Ignite Chicago is open to everyone. All talks are 5 minutes (20 slides x 15 seconds/slide).</p>
    <p><a href="#speak">Want to speak?</a></p>
    <p>What would <em>you</em> say?</p>
  </div>
</section>

<section id="countdown-timer">
  <div class="container">
    <div class="countdown_wrap">
      <h6 class="countdown_title text-center text-uppercase">Show starts in...</h6>
      <ul id="countdown" data-event-date="{{ event.main.start-date | date_to_xmlschema }}">
        <li> <span class="days">00</span>
          <p class="timeRefDays">days</p>
        </li>
        <li> <span class="hours">00</span>
          <p class="timeRefHours">hours</p>
        </li>
        <li> <span class="minutes">00</span>
          <p class="timeRefMinutes">minutes</p>
        </li>
        <li> <span class="seconds">00</span>
          <p class="timeRefSeconds">seconds</p>
        </li>
      </ul>
    </div>
  </div>
</section>

<section id="mailinglist" class="highlight">
  <div class="container">
    <div class="row">
      <form action="//ignitechi.us1.list-manage.com/subscribe/post?u=1b6bed3f7022302e88e2c266b&amp;id=6b0150148e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="form-group col-md-3 hidden-sm">
          <h6 class="susbcribe-head">Subscribe <small>to hear about our next event</small></h6>
        </div>
        <div class="form-group col-sm-8 col-md-6">
          <label class="sr-only">Email address</label>
          <input type="email" value="" name="EMAIL" class="form-control input-lg" id="mce-EMAIL" placeholder="Enter your email address" required>
        </div>
        <div class="form-group col-sm-4 col-md-3">
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1b6bed3f7022302e88e2c266b_6b0150148e" tabindex="-1" value=""></div>
          <input type="submit" value="Subscribe Now &rarr;" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-success btn-block">
        </div>
      </form>
    </div>
  </div>
</section>

{% if event.speakers %}
<section id="speakers" class="speakers highlight">
  <div class="container">
    <div class="section-title">
      <h4 class="text-uppercase">Our speakers</h4>
    </div>
    <div class="speaker-slider">
      {% assign speakers = event.speakers | sort:'name' %}
      {% for speaker in speakers %}
      <div class="speaker-info col-sm-6 col-md-3">

        {%- capture image -%}
        {{ speaker.name | downcase | replace: ' ', '-' }}
        {%- endcapture -%}

        {%- capture imagepath -%}
        {{ site.baseurl }}assets/img/speakers/{{ site.event.month }}/{{ image }}/{{ image }}.jpg
        {%- endcapture -%}


        {%- if speaker.link contains "http" -%}

        <a href="{{ speaker.link }}">
          <img src="{{ imagepath }}" alt="" class="img-responsive center-block">
        </a>

        {%- elsif speaker.link != "" and speaker.link != nil -%}

        <a href="https://twitter.com/{{ speaker.link }}">
          <img src="{{ imagepath }}" alt="" class="img-responsive center-block">
        </a>

        {%- else -%}

        <img src="{{ imagepath }}" alt="" class="img-responsive center-block">

        {%- endif -%}

        <p>{{ speaker.name }}</p>
        <span>
          {%- if speaker.link contains "http" -%}
          <a href="{{ speaker.link }}">Website</a>
          {%- elsif speaker.link != "" and speaker.link != nil -%}
          <a href="https://twitter.com/{{ speaker.link }}">@{{ speaker.link }}</a>
          {%- else -%}
          &nbsp;
          {%- endif -%}
        </span>
      </div>
      {% endfor %}
      {%- if event.speakers.size < 10 -%}
      <div class="speaker-info col-sm-6 col-md-3">
        <img src="{{ "assets/img/speakers/more-coming-soon.png" | prepend: site.baseurl }}" alt="" class="img-responsive center-block">
        <p>&nbsp;</p>
        <span>&nbsp;</span>
      </div>
      {%- endif -%}
    </div>
  </div>
</section>
{% endif %}

<section id="gallery" class="gallery">
  <div class="container">
    <div class="section-title">
      <h4 class="text-uppercase">Gallery</h4>
    </div>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="photo-gallery">
        <div class="popup-gallery">
          <div class="row">
            {%- assign imageindex = 0 -%}
            {%- assign gallery_images = site.static_files | where: "gallery", true -%}
            {%- for image in gallery_images -%}
              {%- assign mod = imageindex | modulo: 9 -%}
            <div class="col-sm-6 {% if mod == 0 %}col-md-6{% else %}col-md-3{% endif %}">
              <a href="{{ site.baseurl }}assets/img/gallery/full/{{ image.name }}" title="">
                <img src="{{ site.baseurl }}assets/img/gallery/thumb/{{ image.name }}" alt="" class="img-responsive">
              </a>
            </div>
              {%- assign imageindex = imageindex | plus: 1 -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="speak" class="speak">
  <div class="container">
    <div class="section-title text-uppercase">
      <h4>Speak at Ignite</h4>
    </div>
    <div class="row">
      <div class="col-md-10 center-block">
        <div class="row">
          <div class="col-sm-6">
            <div class="speak-item">
              <div class="speak-icon"><i class="icon icon-man-people-streamline-user"></i></div>
              <h6 class="speak-title">Who's this for?</h6>
              <p>Speaking at Ignite is an unforgettable experience. You step up to the mic. Your palms sweat. You can hear the thump of your blood rushing. Your voice cracks for an instant and then you launch into a rant for 300 straight seconds, wearing your passion on your sleeve, barely pausing to breathe. The crowd goes wild.</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="speak-item">
              <div class="speak-icon"><i class="icon icon-bubble-love-streamline-talk"></i></div>
              <h6 class="speak-title">What's your burning idea?</h6>
              <p>There is no theme for Ignite. You can talk about virtually anything as long as you can show us your passion for it. What's the thing you most geek out about? What's the topic of conversation that quickens your pulse and sets your toe a-tappin'? That is what we want to hear you speak about.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="speak-item">
              <div class="speak-icon"> <i class="icon icon-armchair-chair-streamline"></i></div>
              <h6 class="speak-title">The Ignite Audience</h6>
              <p>The audience at Ignite is generous and patient. They know the Ignite format is difficult, and they realize you might be an absolute beginner at public speaking. Don't worry &ndash; they've got your back. You're giving them your passion and your vulnerability, and they love you for that. You won't find a more appreciative audience at any other event.</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="speak-item">
              <div class="speak-icon"> <i class="icon icon-clock-streamline-time"></i></div>
              <h6 class="speak-title">Format</h6>
              <p>All speakers get equal time and equal billing. All talks are 5 minutes. You create 20 slides, and we set them up to auto-advance every 15 seconds.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="speak-item">
              <div class="speak-icon"> <i class="icon icon-happy-smiley-streamline"></i></div>
              <h6 class="speak-title">This ain't self-help time</h6>
              <p>Some people think Ignite is about self-help talks. It isn't. Nobody wants to hear a preachy pep talk. We're already "good enough and smart enough," so let's keep this about you and your passionate ideas.</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="speak-item">
              <div class="speak-icon"> <i class="icon icon-streamline-suitcase-travel"></i></div>
              <h6 class="speak-title">Seriously, no pitching</h6>
              <p>Finally, we're serious about the no pitching thing. We know that sometimes a speaker must mention their profession in order to give their talk context, which is totally fine. But Ignite is not the place to tout your organization or to troll for clients.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <script type="text/javascript" src="https://form.jotform.com/jsform/82056284209154"></script>
</section>

{% if event.sponsors %}
<section id="sponsors" class="sponsors">
  <div class="container">
    <div class="section-title">
      <h4 class="text-uppercase">Our Sponsors</h4>
      <p>We couldn't host Ignite without our generous sponsors.</p>
    </div>
    <div class="sponsor-slider">
      {% for sponsor in event.sponsors %}
      <div class="col-sm-6 col-md-3">
        {%- if sponsor.url -%}
        <a href="{{ sponsor.url }}" rel="noopener noreferrer">
          <img src="{{ sponsor.image | prepend: site.baseurl }}" class="img-responsive center-block" alt="{{ sponsor.name }}">
        </a>
        {%- else -%}
        <img src="{{ sponsor.image | prepend: site.baseurl }}" class="img-responsive center-block" alt="{{ sponsor.name }}">
        {%- endif -%}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

<section id="venue" class="g-maps">
  <div class="map" id="map_canvas" data-maplat="{{ event.main.location-lat }}" data-maplon="{{ event.main.location-lon }}" data-mapzoom="16" data-height="400" data-info="{{ event.main.location-name }}">
  </div>
</section>

<section id="contact" class="contact">
  <div class="typeform-widget" data-url="https://ignitechicago.typeform.com/to/gX8AcL" data-transparency="100" data-hide-headers=true data-hide-footer=true style="width: 100%; height: 500px;"></div><script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
</section>

<section id="footer" class="footer-action">
  <div class="container">
    <h4 class="headline-support">What are you waiting for?</h4>
    <h2 class="headline">Grab your ticket now!</h2>
    <div class="footer_bottom-bg">
      <a class="btn btn-default btn-xl" href="#" data-toggle="modal" data-target="#eventbrite-register">Reserve my seat</a>
      <p class="cta_urgency"><small>Tickets sell out fast!</small></p>
    </div>
  </div>
</section>

<!--
<section id="team" class="team highlight">
  <div class="container">
    <div class="section-title">
      <h4 class="text-uppercase">The Team</h4>
    </div>
    <div class="speaker-slider">
      {% for person in site.data.team %}
      <div class="speaker-info col-sm-6">
        {%- if person.url -%}
        <a href="{{ person.url }}">
          <img src="{{ person.image }}" width="250" alt="" class="center-block">
        </a>
        {%- else -%}
        <img src="{{ person.image }}" width="250" alt="" class="center-block">
        {%- endif -%}
        <p>
          {%- if person.url -%}
          <a href="{{ person.url }}">
            {{ person.name }}
          </a>
          {%- else -%}
          {{ person.name }}
          {%- endif -%}
        </p>
        <span>
          {%- if person.role -%}
          {{ person.role }}
          {%- else  -%}
          &nbsp;
          {%- endif -%}
        </span>
      </div>
      {% endfor %}

    </div>
  </div>
</section>
-->

<footer>
  <div class="social-icons">
    <a href="https://twitter.com/ignitechicago" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://facebook.com/ignitechicago" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://instagram.com/ignitechicago" target="_blank"><i class="fa fa-instagram"></i></a>
  </div>
</footer>

<div class="modal" id="eventbrite-register" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-transparent" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="eventbrite-wrapper">
          <iframe src="https://www.eventbrite.com/tickets-external?eid={{ event.main.eventbrite-id }}&amp;ref=etckt&amp;v=2" height="600" style="background-color: #FFF;"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
